---
import config from "@/config/config.json";
import {
  IoLogoFacebook,
  IoLogoTwitter,
  IoLogoInstagram,
} from "react-icons/io5";

const { base_url } = config.site;
const { title, description, slug, className } = Astro.props;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="facebook profile button"
      href="https://www.facebook.com/profile.php?id=61585617512476"
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoFacebook />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="x profile button"
      href="https://x.com/Jia_WeiDao"
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoTwitter />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="instagram profile button"
      href="https://www.instagram.com/weidao.jia/"
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoInstagram />
    </a>
  </li>
</ul>
